---
  import '@/styles/global.css'
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='./assets/favicon.webp' />
    <title>4 Cards in 3D</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<script>
  window.addEventListener('resize', e => {
    document.title = `${window.innerWidth}`;
  });
</script>
